.item {
	padding-bottom: 25px;
}

.item span {
	display: block;
	padding: 5px 0;
}

.smaller {
	opacity: .5;
	font-size: .8rem;
	letter-spacing: .03rem;
	line-height: 1;
}

.item h2 {
	margin: 0;
	padding: 0 0 5px;
}